*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",Arial,sans-serif;
}


body{

min-height:100vh;

background:
radial-gradient(circle at top,#064e3b,transparent 40%),
linear-gradient(135deg,#020617,#001f3f);

color:white;

}



/* Header */

header{

text-align:center;

padding:30px;

}


header h1{

font-size:45px;

color:#ff9933;

text-shadow:
0 0 20px orange;

}


header p{

font-size:18px;

color:#ddd;

}



/* Search */

.search{

text-align:center;

margin:20px;

}


.search input{

width:280px;

padding:15px;

border-radius:30px;

border:none;

outline:none;

font-size:16px;

}


.search button{

padding:15px 25px;

border:none;

border-radius:30px;

margin-left:10px;

background:#ff9933;

font-weight:bold;

cursor:pointer;

}


.search button:hover{

box-shadow:0 0 20px orange;

transform:scale(1.05);

}



/* Main Area */

.main{

display:flex;

justify-content:center;

gap:30px;

padding:20px;

flex-wrap:wrap;

}



/* Map Box */

.mapBox{

width:520px;

height:600px;

padding:20px;

background:

rgba(255,255,255,0.08);

border-radius:30px;

border:2px solid cyan;

backdrop-filter:blur(20px);

box-shadow:

0 0 30px rgba(0,255,255,.4);

text-align:center;

}



#map{

height:500px;

display:flex;

align-items:center;

justify-content:center;

color:#00ffff;

font-size:22px;

}



/* Information Card */

.infoBox{

width:350px;

min-height:400px;

padding:25px;

background:

rgba(255,255,255,0.1);

border-radius:30px;

border:2px solid cyan;

backdrop-filter:blur(20px);

box-shadow:

0 0 30px cyan;

animation:show .5s;

}



.infoBox h2{

color:#00ffff;

margin-bottom:20px;

}



.infoBox li{

list-style:none;

padding:10px;

font-size:17px;

}



/* Animation */

@keyframes show{

from{

opacity:0;

transform:translateY(40px);

}


to{

opacity:1;

transform:translateY(0);

}

}



/* Footer */

footer{

text-align:center;

padding:20px;

color:#aaa;

}



/* Mobile */

@media(max-width:700px){

.mapBox,
.infoBox{

width:90%;

}


header h1{

font-size:32px;

}

}
